.root {
    bwhblue: #012D5A;
    pressed: #BDBDBD;
    secondaryBlue: #0067B1;
    secondaryYellow: #F6BD38;
    primaryWhite: #F1F1F1;
    darkNeutral: #403C3B;
}

.requestFilterBar {
    -fx-background-color: secondaryBlue;
}

.requestBackground {
    -fx-background-image: url(" ../images/brigham-women-s-hospital-welcomes-first-patients-new-facility-17989-10740071.jpeg");
}