.root{
    bwhblue: #012D5A;
    pressed: #BDBDBD;
}

#home{
    -fx-background-image: url("../images/home_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button {
    -fx-background-color: bwhblue;
    -fx-text-fill: white;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
}

.button:pressed {
    -fx-background-color: pressed;
    -fx-text-fill: white;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: BOLD;
}

#newtext{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: NORMAL;
    -fx-font-size: 24;
}

#title{
    -fx-font-family: Lato, regular;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}

#body{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: 500;
    -fx-font-size: 18px;
}

#subtitle{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: 500;
    -fx-font-size: 12px;
}

#sidebar{
    -fx-font-family: 'Roboto';
    -fx-font-size: 12.0px;
}