.root {
    bwhblue: #012D5A;
    pressed: #BDBDBD;
    secondaryBlue: #0067B1;
    secondaryYellow: #F6BD38;
    primaryWhite: #F1F1F1;
    darkNeutral: #403C3B;
    primaryLightGrey: #BDBDBD;
}

/*
    This will apply to all components of type button
    (or that share the same style class)!
    To set this choose the style class in Scenebuilder.
*/
.button {
    -fx-background-color: bwhblue;
    -fx-text-fill: white;
    -fx-font-family: 'Nunito Sans', 'bold';
    -fx-font-size: 18;
    -fx-font-weight: 500;
    border-radius: 4px;
}

/*
    This will apply to only a singular component!
    this is determined by the fx:id in
    Scenebuilder.
*/
#reserveButton {
    -fx-background-color: bwhblue;
    -fx-text-fill: white;
    -fx-font-family: 'Nunito Sans', 'bold';
    -fx-font-size: 18;
    -fx-font-weight: 500;
    border-radius: 4px;
}

.reserveButtonConfirm {
    -fx-background-color: secondaryYellow;
}

.button:pressed {
    -fx-background-color: pressed;
    -fx-text-fill: white;
    -fx-font-family: 'Nunito Sans', 'bold';
    -fx-font-size: 18;
    -fx-font-weight: 500;
    border-radius: 4px;
}

.yellowButton:pressed {
    -fx-background-color: secondayYellow;
    -fx-text-fill: bwhblue;
}


.title{
    -fx-font-family: 'Lato', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.body{
    -fx-font-family: 'Nunito Sans', 'regular';
    -fx-font-weight: NORMAL;
    -fx-font-size: 24;
}

.subtitle{
    -fx-font-family: 'Roboto', 'light';
    -fx-font-weight: 300;
    -fx-font-size: 12px;
}

.sidebar{
    -fx-font-family: 'Roboto';
    -fx-font-size: 12px;
}

.combo-box .list-cell {
    -fx-padding: 0.7em 0.7em 0.7em 0em;
}

.popup-overlay {
    -fx-background-color: white;
    -fx-border-color: -swatch-grey;
    -fx-border-width: 0 0 2 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.help-background {
    -fx-background-color: #DEDEDE;
    -fx-border-color: -black;
    -fx-border-width: 0 0 2 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.help-body {
    -fx-font-family: 'Roboto';
    -fx-font-size: 20px;
}

.help-icons {
    -fx-background-color: black;
    -fx-fill: black;
}

.title-bar {
    -fx-padding: 10;
}

.title-bar .icon {
    -fx-alignment: center-left;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0,
    1.0);
}

.title-bar .title-label {
    -fx-padding: 0 10 0 10;
    -fx-alignment: center;
    -fx-font-size: 36;
    -fx-font-weight: bolder;
}

.content-area {
    -fx-background-color: -dark;
}

.content-background {
    -fx-background-color: white;
    -fx-background-radius: 0.0 0.0 11.0 11.0;
    -fx-padding: 0 10 10 10;
}

.sidebar-vbox:pressed{
    -fx-background-color: pressed;
    -fx-border-color: bwhblue;
}

.loginBackground {
    -fx-background-image: url("../images/brigham.JPEG");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.loginRectangle {
    -fx-background-color: #F3F3F3;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.secondaryRectangle {
    -fx-background-color: secondaryBlue;
}

.homeBackground {
    -fx-background-color: #F3F3F3;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.furniture-title{
    -fx-background-image: url("../images/furnitureTopBarImage.png");
}

.meal-title{
    -fx-background-image: url("../images/foodTopBarImage.png");
}

.flower-title{
    -fx-background-image: url("../images/flowerBackgroundCropped2.png");
    -fx-background-repeat:
}

.supplies-title{
    -fx-background-image: url("../images/SuppliesHeader.png");
}

.room-title {
    -fx-background-image: url("../images/RoomRequestHeader.png");
}

.food_furniture-clear-button{
    -fx-background-color: transparent;
    -fx-text-fill: bwhblue;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
    -fx-border-color: pressed;
}

.food_furniture-clear-button:pressed {
    -fx-background-color: pressed;
    -fx-text-fill: white;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
    -fx-border-color: black;
}

.food_furniture-cancel-button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
    -fx-border-color: pressed;
}

.curvedHome{
    -fx-background-image: url("../images/curvedHome.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.homeBackground{
    -fx-background-color: #012D5A;
    -fx-font-size: 18;
}

.homeTitle{
    -fx-font-family: 'Lato', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.adminHome{
    -fx-background-color: #A3B9C9;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.whiteTitle{
    -fx-fill: primaryWhite;
    -fx-font-family: 'Lato', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.inverseButton {
    -fx-background-color: white;
    -fx-text-fill: #012D5A;
    -fx-font-family: 'Nunito Sans', 'regular';
    -fx-font-size: 18;
    -fx-font-weight: 500;
    border-radius: 4px;
}

.time{
    -fx-font-family: 'Quicksand', 'bold';
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.sr-sidebar-title{
    -fx-font-family: 'Lato', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.sr-sidebar-body{
    -fx-font-family: 'Nunito Sans', 'regular';
    -fx-font-weight: NORMAL;
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.sr-sidebar-body:pressed{
    -fx-text-fill: pressed
}

.sr-sidebar-subtitle{
    -fx-font-family: 'Nunito Sans', 'regular';
    -fx-font-weight: NORMAL;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
.subtitleSmallBold {
    -fx-font-family: 'Roboto', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.boxShadow{
    -fx-background-color:  #FBF7F5;
    -fx-border-color: BLACK;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 5);
}
.bodyMediumBold{
    -fx-font-family: 'Nunito Sans', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}

.signage-title{
    -fx-font-family: 'Lato', 'regular';
    -fx-font-weight: 500;
    -fx-font-size: 24px;
}

.signage-information-title{
    -fx-font-family: 'Lato', 'bold';
    -fx-font-weight: 500;
    -fx-font-size: 24px;
}

.signage-button {
    -fx-background-color: white;
    -fx-text-fill: bwhblue;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
}

.bodyMedium{
    -fx-font-family: 'Nunito Sans', 'regular';
    -fx-font-weight: normal;
    -fx-font-size: 21px;
}

.horizontal-bar {
    -fx-fill: darkNeutral;
    -fx-stroke: None;
    -fx-effect: DropShadow;
    -fx-scale-y: 0.2;
}

.signage-button:pressed{
    -fx-background-color: pressed;
    -fx-text-fill: white;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
}
.boxBackground {
    -fx-background-color:  #FBF7F5;
    -fx-border-color: BLACK;
    -fx-border-insets: 0;
    -fx-border-width: 3;
    -fx-border-style: solid;
}
.profileToMapEditor{
    -fx-background-image: url("../images/blurredmap.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}
.profileToEmployeeManager{
    -fx-background-image: url("../images/blurredemployeemanagerbutton.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.signage-configuration-button{
    -fx-background-color: #A6A2A2;
    -fx-text-fill: white;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
}

.signage-configuration-button:pressed{
    -fx-background-color: pressed;
    -fx-text-fill: white;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-border-radius: 4px;
}
.profileToConferenceRoom{
    -fx-background-image: url("../images/blurredconferenceroom.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.profileToServiceRequests{
    -fx-background-image: url("../images/blurredprofletopendingservicerequest.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}