.root {
    -fx-font-family: 'Nunito', 'regular';
}

.title{
    -fx-font-family: 'Lato', 'bold';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.table-view .column-header .label {
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-border-insets: 0px 0px 10px 0px;
}

.table-row-cell:even {
    -fx-background-color: white;
}

.table-cell {
    -fx-text-fill: black;
}

.table-cell:selected {
    -fx-background-color: grey;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-view .column-header .sort-order-indicator {
    -fx-stroke: black;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: black;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: white;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: black;
}

.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: white;
}

.table-view .scroll-bar:vertical .increment-arrow:hover,
.table-view .scroll-bar:vertical .decrement-arrow:hover {
    -fx-background-color: white;
}

.table-view .combo-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2;
    -fx-border-radius: 4;
    -fx-border-color: #616161;
    -fx-border-width: 1px;
    -fx-padding: 0.1em 0em;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 0, 2, 0, 0);
}

.table-view .combo-box:hover {
    -fx-background-color: #eeeeee;
}

.table-view .combo-box:pressed {
    -fx-background-color: #e0e0e0;
}

.table-view .combo-box:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #42a5f5;
    -fx-effect: dropshadow(three-pass-box, rgba(66, 165, 245, 0.4), 0, 0, 0, 0);
}

.table-view .combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.4em 0.4em 0.4em 0;
}

.table-view .combo-box .arrow-button:hover {
    -fx-background-color: #eeeeee;
}

.table-view .combo-box .arrow-button:pressed {
    -fx-background-color: #e0e0e0;
}

.table-view .combo-box .arrow-button:focused {
    -fx-effect:dropshadow(three-pass-box, rgba(66, 165, 245, 0.4), 0, 0, 0, 0);
}

.table-view .combo-box .arrow-button .arrow {
    -fx-fill: #000000;
}

.button {
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    -fx-background-color: transparent;
    cursor: pointer;
    -fx-text-fill: #012D5A
}

.button:pressed {
    -fx-text-fill: grey;
    -fx-effect: null;
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: lightblue;
}